.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:active {
  border: 1px solid #fff;
  outline: none;
}
.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -2px;
}
.content__card-link:active {
  background: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  border: 1px solid #fff;
}
