*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
.page {
  display: flex;
  inline-size: 1200px;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  width: 1140px;
  flex-direction: row;
  gap: 30px;
}
.content__list {
  position: relative;
  z-index: 0;
  block-size: 298px;
  overflow: auto;
}
.content__details {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.content__list-item {
  position: relative;
  z-index: -1;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  position: relative;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2px;
}
.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}
.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}
.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 76px 0px 0px 0px;
}
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}
.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  inline-size: 100%;
  outline: none;
  border: none;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
  outline: none;
  border: none;
}
.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__textfield {
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: transparent;
  border-left: transparent;
  width: 225px;
  height: 27px;
  gap: 10px;
  appearance: none;
  padding: 2.5px 0px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}
.content__list-item:not(:last-child) {
  padding: 0px 0px 30px 0px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background-color: transparent;
  /*текст*/
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
  cursor: pointer;
}
.search-form__submit-button {
  width: 194px;
  position: relative;
  top: 20px;
}
.more-button {
  inline-size: 100%;
  padding: 2px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.content__card-link_current {
  background: #545050;
}
